<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <a mat-list-item routerLink="/books" routerLinkActive="active">Books</a>
    <a mat-list-item [routerLink]="['/temperatures','paris']" routerLinkActive="active">Temperatures</a>
    <a mat-list-item [routerLink]="['/classify','station']" routerLinkActive="active">Classify</a>
    <a mat-list-item routerLink="/posts" routerLinkActive="active">Posts</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hello</span>
      <span class = "spacer" ></span>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getuser() | async)">login</a>
      <a class = "whitelink" routerLink = "/Register" *ngIf = "!(authService.getuser() | async)">registr</a>
      <a class = "whitelink1" (click) = "authService.logout()" *ngIf = "(authService.getuser() | async)" >logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
