.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.whitelink { 
  color :white;
  text-decoration: none;
  margin-left: 5cm;

}
.spacer {
  width: 50%;
}
.whitelink1 { 
  color :white;
  text-decoration: none;
  margin-left: 5cm;
  cursor: pointer;

}