Side-by-side diff View file More
<mat-card>
  <h1>Register</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-error>{{error()}}</mat-error>
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example: you@you.com"
              [(ngModel)] = "email"
              name = "email"
              required>
            <mat-hint>Valid email address</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput placeholder="example: 42343@@##aZ"
              [(ngModel)] = "password"
              name = "password"
              type = "password"
              required>
            <mat-hint>6 chracters at least</mat-hint>
          </mat-form-field>
        </p>
      <div >
          <button mat-raised-button color="primary"
                  [disabled]="!signupForm.form.valid">
                   Register
          </button>
      </div>
    </div>
  </form>
 </mat-card>