  .example-card {
    max-width: 400px;
    margin:10px;
  }

  .example-header-image {

    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg" );
    background-size: 200px;
  }